---
Language: Cpp
BasedOnStyle: Google
Standard: Latest
ColumnLimit: 120
IndentWidth: 4
TabWidth: 4
UseTab: Never

# Alinhamento e quebras de linha
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: None
AlignConsecutiveDeclarations: None
AlignEscapedNewlines: Right
AlignOperands: AlignAfterOperator
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false

# Espaçamento e chaves
BreakBeforeBraces: Attach
BreakBeforeBinaryOperators: None
BreakBeforeTernaryOperators: true
BreakInheritanceList: BeforeColon
BreakConstructorInitializers: BeforeColon

# Includes
SortIncludes: CaseSensitive
IncludeBlocks: Regroup

# Ponteiros e referências
PointerAlignment: Left
ReferenceAlignment: Left

# C++20 / C++23
SpaceBeforeParens: ControlStatements
SpacesInAngles: Never
SpacesInSquareBrackets: false
...
