# Binaries and Build Artifacts
build/
bin/
tests/
*.o
*.a
*.so
*.out
*.log
.*
compile_commands.json
criptowords
CMakeCache.txt
CMakeFiles/
Makefile
_deps/
cmake_install.cmake

# Editor and OS files
.vscode/
.idea/
.DS_Store
.clangd/
.openclaude/
.opencode/
